<!DOCTYPE html>
<html>
<head>
    <%- include('header') %>
</head>
<body>
<a href="/">Back</a>
<%
 chats.map(chat => {
     chat.senderId =
 })
 %>
<% chats.forEach(chat => {
    %>
    <p><%= chat %>: <%= chat %></p>
    <%
})%>



</body>
<script>
    const name = document.getElementById('name');
    const pass = document.getElementById('pass');
    const email = document.getElementById('email');
    const birth = document.getElementById('birth');

    fetch('/user', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            username: name.value,
            password: pass.value,
            email: email.value,
            birthDate: birth.value
        })
    })


</script>
</html>