<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/user">User</a>
    <a href="/chat">Chat</a>
    <a href="/users">Users</a>
<!--    <form action="/test" method="post">-->
<!--        <label for="Username">Username:-->
<!--          <input type="text" name="Username" id="Username"/>-->
<!--        </label>-->
<!--        <label for="Password">Password:-->
<!--          <input type="text" name="Password" />-->
<!--        </label>-->
<!--        <label for="Email">Email:-->
<!--          <input type="text" name="Email" id="Email"/>-->
<!--        </label>-->
<!--      <button type="submit">Go to other page</button>-->
<!--    </form>-->
  </body>
</html>
